.container {
      margin: 0;
      font-family: Arial, sans-serif;
      overflow: hidden;
    }

.navigation-panel{
     height: 100%;
     width: 150px;
     background-color: #f0f0f0;
}

.content-section {
    display: flex;
    height: 100vh;
    width: 100vw; 
}

.divider {
    display: flex;
    flex-direction: column;
    
    flex: 1;
    overflow: hidden;
}

.main-content {
    padding: 30px;
    height: 20vh;
    border: 1px solid #adacac;
}

.sub-content {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 20vh);
}

.container-2, .container-3 {
    flex: 1;
    padding: 20px;
    border: 1px solid #adacac;

}

.container-4 {
    width: 35vw;
    height: 100vh;
    padding: 20px;
    overflow-y: auto;
    border: 1px solid #adacac;
}